<div>
  <%= form_for @changeset, Routes.chat_room_path(@conn, :create), fn f -> %>
    <Label>
      Name:
      <%= error_tag f, :name %>
      <%= text_input f, :name %>
    </Label>

    <%= submit "Submit" %>
  <% end %>
</div>
